[submodule "doxygen-awesome-css"]
	path = doxygen/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "doxygen/doxymatlab"]
	path = doxygen/doxymatlab
	url = https://github.com/simgunz/doxymatlab/
[submodule "doxydown"]
	path = doxydown
	url = https://github.com/vstakhov/doxydown
[submodule "sphinx/sphinxcontrib-golangdomain"]
	path = sphinx/sphinxcontrib-golangdomain
	url = https://bitbucket.org/ymotongpoo/sphinxcontrib-golangdomain.git
[submodule "sphinx/matlabdomain"]
	path = sphinx/matlabdomain
	url = https://github.com/sphinx-contrib/matlabdomain
